@import "tailwindcss";

:root,
[data-theme="dark"] {
  --background: #0a0a0f;
  --foreground: #f0f0f0;
  --bg: #0a0a0f;

  --primary: #e67e22;
  --primary-dark: #cf6d17;
  --accent: #2c7a6e;
  --danger: #c0392b;

  --text: #f0f0f0;
  --muted: #7f8c8d;

  --card: #111118;
  --border: rgba(44, 122, 110, 0.25);
}

[data-theme="light"] {
  --background: #f4f4f4;
  --foreground: #1a1a1a;
  --bg: #f4f4f4;

  --primary: #e67e22;
  --primary-dark: #cf6d17;
  --accent: #2c7a6e;
  --danger: #c0392b;

  --text: #1a1a1a;
  --muted: #7f8c8d;

  --card: #ffffff;
  --border: rgba(44, 122, 110, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background 0.2s,
    color 0.2s;
}
